.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal__close-btn {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  border: none;
  background: transparent;
  background-image: url(../images/x-close-btn.png);
  opacity: 0.4;
}

.modal__title {
  margin: 0;
  padding: 32px 0 0 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  max-height: 408px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding-bottom: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 36px 50px;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  opacity: 0.7;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  opacity: 0.4;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__input::placeholder {
  color: #212121;
}

.modal__submit-btn {
  color: #fcf5e5;
  background-color: #212121;
  max-width: 156px;
  height: 52px;
  padding: 18px 58px;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

@media screen and (max-width: 630px) {
  .modal {
    padding: 10px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__container {
    max-width: 300px;
    max-height: 336px;
    padding: 12px;
  }
  .modal__title {
    padding: 0 0 24px;
    font-size: 20px;
  }
  .modal__form {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    width: 276px;
    max-width: 276px;
    max-height: 28px;
  }
  .modal__submit-btn {
    max-width: 100%;
  }
}
