.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* Smooth fade in/out */
  transition: visibility 0.3s ease 0.3s, opacity 0.3s ease;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__content {
  position: relative;
}

.modal__close-btn {
  background: transparent;
  background-image: url(../images/x-close-btn.png);
  border: none;
  opacity: 0.4;
  position: absolute;
  padding: 0;

  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  font-size: 22px;
}

.modal__close-btn_type_preview {
  background-image: url(../images/x-close-btn-white.svg);
  opacity: 1;
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  background-repeat: no-repeat;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 36px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__input:hover {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #212121;
}
.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: #ff0000;
  opacity: 0.7;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  /*visibility: hidden;*/
}

.modal__submit-btn {
  color: #fcf5e5;
  background-color: #212121;
  max-width: 156px;
  height: 52px;
  padding: 18px 58px;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__submit-btn_type_error {
  background-color: #212121;
  opacity: 0.5;
  color: #fcf5e5;
}

.modal__image-container {
  position: relative;
  width: fit-content;
  overflow: visible; /*Allows the button to show outside the edges*/
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  height: auto;
  max-width: fit-content;
  margin: 8px 0 0;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  white-space: normal;
  overflow-wrap: break-word;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

@media screen and (max-width: 630px) {
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn-preview {
    top: -48px;
    right: 0;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__form {
    margin: 0;
  }
  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__submit-btn {
    max-width: 100%;
  }
  .modal__image {
    max-width: unset;
  }
}
