.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: rgba(33, 33, 33, 1);
  line-height: 1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0;
  opacity: 0.4;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__edit-btn-text {
  margin-left: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__post-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  height: 52px;
  width: 288px;
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 1;
}

.profile__post-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

.profile__post-btn-text {
  margin-left: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__post-btn {
    margin-left: 0;
    width: 100%;
  }
}
