.card {
  max-width: 413px;
  position: relative;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete.svg);
  background-color: transparent;
  border: none;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  flex: 1;
  min-width: 0;
  max-width: 353px;
  color: rgba(33, 33, 33, 1);
  margin: 12px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  margin: 12px 0 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.card__like-btn_active {
  background-image: url(../images/liked-active.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active:hover {
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    max-height: 288px;
    max-width: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
